{% autoescape off %}
Hi {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your MediChain account.

Please click the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.

---
MediChain Healthcare Blockchain Framework
Department of Artificial Intelligence Technologies | Ankara University
{% endautoescape %}